*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;    
} 

body {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
    background-repeat: no-repeat;
    background-size: cover;

} 


.button-color-control{
    background-color:#E9ECEF;
    border-color: #A7AAAE;
}

nav{
    display: flex;
    justify-content:center;
    background-color: #1d1d3f;
    box-shadow: 0px 0px -15px -15px;
}


#nav-page-de-garde-tab{
    border-radius:15px 15px 0px 0px;    
    
}
#nav-partie1-tab{
    padding: 10px;
    border-radius:15px 15px 0px 0px;
    box-shadow: 0px 0px -15px -15px;
    
}
#nav-partie2-tab{
    border-radius:15px 15px 0px 0px;
    box-shadow: 0px 0px -15px -15px;
    
}
#nav-partie3-tab{
    border-radius:15px 15px 0px 0px;
    box-shadow: 0px 0px -15px -15px;
    
}
.active{
    background-color: black;
}

/*
rounded corners for selceted tab 
tab separations 
tabline 
*/
nav a{
    color:white;
} 

.main-title{
    text-align: center;
    height: 100px;
    padding-top: 30px;
    
}


#enonce{
    background-color: rgba(158, 154, 154,0.7);
    padding: 20px;
    border-radius:20px;
    margin: 25px;
    
}

.title-box{    
    background-color: rgba(158, 154, 154,0.7);
    padding: 5px 15px 7px 15px;
    border-radius:20px;
    margin: 5px;
}




ul, ul > li {
    font-size: large;
    padding: 4px;
    text-align: left;
    list-style: none;
}

pre{
    color:black;
}

h4,.membre li{
    text-align: center;
    font-size: larger;
    color:black;
}

footer{
    background-color: #475156;
    color:#FFFFFF;
    width:100%;
    bottom:0;
}
  