*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
} 


nav{
    display: flex;
    justify-content:center;
}

nav a{
    padding: 20px;
    margin: 20px;
}


ul, ul > li {
    font-size: large;
    padding: 4px;
    text-align: left;
    list-style: none;
}

h4{
    text-align: left;
}

footer{
    background-color: #475156;
    color:#FFFFFF;
    width:100%;
    bottom:0;
}


