*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
} 


nav{
    display: flex;
    justify-content:center;
    background-color: #08081A;
}
/*
rounded corners for selceted tab 
tab separations 
tabline 
*/
nav a{
    /* padding: 20px;
    margin: 20px; */
    color:white;
} 


ul, ul > li {
    font-size: large;
    padding: 4px;
    text-align: left;
    list-style: none;
}

h4{
    text-align: left;
}

footer{
    background-color: #475156;
    color:#FFFFFF;
    width:100%;
    bottom:0;
}


